<dialog id="delete_patient_modal" class="bg-transparent w-4xl">
    <div class="modal-box p-10 w-full">
        {% if patient %}
            <form
                hx-post="{% url 'patients:delete_patient' patient.id %}"
                hx-target="#patients-table-body"
                hx-on:delete-patient-success="delete_patient_modal.close(); this.reset(); alert('Patient deactivated successfully!');"
            >
                {% csrf_token %}
                <h3 class="font-bold text-lg mb-4">Delete Patient {{ patient.fullname }}'s records?</h3>
                <p class="label text-xs">This action will not delete the patient's record off the database, it will deactivate the patient, and disallow staff from performing any actions on it.</p>
                
                <div class="flex items-center gap-2 w-full">
                    <button
                        type="button"
                        class="btn btn-neutral text-white flex-1"
                        onclick="delete_patient_modal.close();"
                    >
                        Cancel
                    </button>
                    <button
                        type="submit"
                        class="btn btn-error text-white flex-1"
                    >
                        Delete
                    </button>
                </div>
            </form>
        {% endif %}
    </div>
</dialog>