<dialog id="new_patient_modal" class="bg-transparent">
  <div class="modal-box p-10 w-full lg:min-w-[480px]">
    <h3 class="font-bold text-lg mb-4">Register new patient</h3>
    {% if form %}
      <form class="mb-4 space-y-4"
            hx-post="{% url 'patients:register_new_patient' %}?{{ request.GET.urlencode }}">
        {% csrf_token %}
        {% if form.non_field_errors %}
          {% for error in form.non_field_errors %}<div class="label text-error">{{ error }}</div>{% endfor %}
        {% endif %}
        <div class="form-control w-full">
          <label for="id_first_name" class="label">
            <span class="label-text">First Name</span>
          </label>
          {{ form.first_name }}
          {% if form.first_name.errors %}<label class="label text-error">{{ form.first_name.errors }}</label>{% endif %}
        </div>
        <div class="form-control w-full">
          <label for="id_last_name" class="label">
            <span class="label-text">Last Name</span>
          </label>
          {{ form.last_name }}
          {% if form.last_name.errors %}<label class="label text-error">{{ form.last_name.errors }}</label>{% endif %}
        </div>
        <div class="form-control w-full">
          <label for="id_date_of_birth" class="label">
            <span class="label-text">Date of Birth (GC)</span>
          </label>
          {{ form.date_of_birth }}
          {% if form.date_of_birth.errors %}<label class="label text-error">{{ form.date_of_birth.errors }}</label>{% endif %}
        </div>
        <div class="form-control w-full">
          <label for="id_sex" class="label">
            <span class="label-text">Sex</span>
          </label>
          {{ form.sex }}
          {% if form.sex.errors %}<label class="label text-error">{{ form.sex.errors }}</label>{% endif %}
        </div>
        <div class="form-control w-full">
          <label for="id_weight" class="label">
            <span class="label-text">Weight</span>
          </label>
          {{ form.weight }}
          {% if form.weight.errors %}<label class="label text-error">{{ form.weight.errors }}</label>{% endif %}
        </div>
        <div class="form-control w-full">
          <label for="id_height" class="label">
            <span class="label-text">Height</span>
          </label>
          {{ form.height }}
          {% if form.height.errors %}<label class="label text-error">{{ form.height.errors }}</label>{% endif %}
        </div>
        <div class="form-control w-full">
          <label for="id_phone" class="label">
            <span class="label-text">Phone</span>
          </label>
          {{ form.phone }}
          {% if form.phone.errors %}<label class="label text-error">{{ form.phone.errors }}</label>{% endif %}
        </div>
        <div class="form-control w-full">
          <label for="id_region" class="label">
            <span class="label-text">Region</span>
          </label>
          {{ form.region }}
          {% if form.region.errors %}<label class="label text-error">{{ form.region.errors }}</label>{% endif %}
        </div>
        <div class="form-control w-full">
          <label for="id_city" class="label">
            <span class="label-text">City</span>
          </label>
          {{ form.city }}
          {% if form.city.errors %}<label class="label text-error">{{ form.city.errors }}</label>{% endif %}
        </div>
        <div class="modal-action">
          <button type="button"
                  class="btn btn-error text-white"
                  onclick="this.closest('dialog')?.close()">Cancel</button>
          <button type="submit"
                  class="btn bg-indigo-600 hover:bg-indigo-500 text-white"
                  {% if form.disable_submit %}disabled{% endif %}>Submit</button>
        </div>
      </form>
    {% endif %}
  </div>
</dialog>
