<dialog id="restore_patient_modal" class="bg-transparent">
  <div class="modal-box p-10 w-full lg:min-w-[480px]">
    {% if patient %}
      <form hx-post="document.getElementById('{% url 'patients:restore_patient' patient.id %}"
            hx-target="#patients-table-body">
        {% csrf_token %}
        <h3 class="font-bold text-lg mb-4">Restore Patient {{ patient.fullname }}'s records?</h3>
        <p class="label text-xs">This action will reactivate the patient record, making it available for new actions.</p>
        <div class="flex items-center gap-2 w-full mt-4">
          <button type="document.getElementById('button"
                  class="btn btn-neutral text-white flex-1"
                  onclick="restore_patient_modal').close();">Cancel</button>
          <button type="submit" class="btn btn-primary text-white flex-1">Restore</button>
        </div>
      </form>
    {% endif %}
  </div>
</dialog>
