<dialog id="update_visit_modal" class="animate-swap bg-transparent">
  <div class="modal-box p-10 w-full animate-swap">
    {% if visit and form %}
      <h3 class="font-bold text-lg mb-4">Update visit {{ visit.id|stringformat:'06d' }} details</h3>
      <form class="mb-4 space-y-4"
            hx-post="{% url 'visits:update_visit' visit.id %}?{{ request.GET.urlencode }}">
        {% csrf_token %}
        {% if form.non_field_errors %}
          {% for error in form.non_field_errors %}<div class="label text-error">{{ error }}</div>{% endfor %}
        {% endif %}
        <div class="form-control w-full">
          <label for="patient" class="label">
            <span class="label-text">Patient</span>
          </label>
          {{ form.patient }}
          {% if form.patient.errors %}<label class="label text-error">{{ form.patient.errors }}</label>{% endif %}
        </div>
        <div class="form-control w-full">
          <label for="date" class="label">
            <span class="label-text">Date</span>
          </label>
          {{ form.date }}
          {% if form.date.errors %}<label class="label text-error">{{ form.date.errors }}</label>{% endif %}
        </div>
        <div class="form-control w-full">
          <label for="visit_category" class="label">
            <span class="label-text">Category</span>
          </label>
          {{ form.visit_category }}
          {% if form.visit_category.errors %}<label class="label text-error">{{ form.visit_category.errors }}</label>{% endif %}
        </div>
        {% if form.sensitive_change_attempted %}
          <div class="label text-error text-lg font-semibold">
            Warning: You are modifying the patient or date. This will trigger a financial reconciliation.
          </div>
          <input type="hidden" name="confirmed" value="True" />
          <div class="form-control w-full">
            <label for="reason" class="label">
              <span class="label-text">Reason for modification</span>
            </label>
            {{ form.reason }}
            {% if form.reason.errors %}<label class="label text-error">{{ form.reason.errors }}</label>{% endif %}
          </div>
        {% endif %}
        <div class="modal-action">
          <button type="button"
                  class="btn btn-error text-white"
                  onclick="this.closest('dialog')?.close()">Cancel</button>
          <button type="submit"
                  class="btn bg-indigo-600 hover:bg-indigo-500 text-white"
                  {% if form.disable_submit %}disabled{% endif %}>Submit</button>
        </div>
      </form>
    {% endif %}
  </div>
</dialog>
