<title>Billing Ledger | {{ app_title }}</title>
<div class="flex flex-col gap-4">
  <div class="flex flex-col sm:flex-row sm:justify-between sm:items-center gap-2">
    <h2 class="text-2xl font-semibold">Charges</h2>
    <button class="btn flex gap-2 items-center bg-indigo-600 text-white hover:bg-indigo-500"
            hx-get="{% url 'charges:new_charge_modal' %}?template={{ 'staff/reception/charges/partials/charges-table-row-partial.html'|urlencode }}&amp;target={{ 'charges-table-body'|urlencode }}&amp;swap=afterbegin"
            hx-swap="outerHTML"
            hx-target="#new_charge_modal">
      <svg class="lucide lucide-plus-icon lucide-plus"
           fill="none"
           height="24"
           stroke="currentColor"
           stroke-linecap="round"
           stroke-linejoin="round"
           stroke-width="2"
           viewbox="0 0 24 24"
           width="24"
           xmlns="http://www.w3.org/2000/svg">
        <path d="M5 12h14"></path>
        <path d="M12 5v14"></path>
      </svg>
      New Miscelaneous Charge
    </button>
  </div>
  <div class="flex flex-col gap-4 bg-white border border-gray-300 rounded-xl p-6 shadow-lg">
    <div class="space-y-6 overflow-x-auto" id="charges-table-filters">
      <div class="flex flex-col md:flex-row justify-between items-center gap-2">
        <label class="input input-bordered flex items-center gap-2">
          <svg class="h-[1em] opacity-50"
               viewbox="0 0 24 24"
               xmlns="http://www.w3.org/2000/svg">
            <g fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2.5">
            <circle cx="11" cy="11" r="8"></circle>
            <path d="m21 21-4.3-4.3"></path>
            </g>
          </svg>
          <input hx-get="{% url 'staff:reception_charges_filter' %}"
                 hx-include="#charges-table-filters"
                 hx-target="#charges-table-container"
                 hx-trigger="keyup delay:500ms"
                 id="q"
                 name="q"
                 placeholder="Search for charge"
                 type="search"
                 value="{{ request.GET.q|default:'' }}" />
        </label>
        <div class="flex flex-col md:flex-row items-center gap-2">
          <label for="type" class="sr-only">Select a type</label>
          <select class="select select-bordered"
                  hx-get="{% url 'staff:reception_charges_filter' %}"
                  hx-include="#charges-table-filters"
                  hx-target="#charges-table-container"
                  id="type"
                  name="type">
            <option value="" disabled {% if not request.GET.type %}selected{% endif %}>Select a type</option>
            <option value="">All</option>
            {% for type in charge_types %}
              <option value="{{ type|first }}"
                      {% if request.GET.type == type|first %}selected{% endif %}>{{ type|last }}</option>
            {% endfor %}
          </select>
          <label for="status" class="sr-only">Select a status</label>
          <select class="select select-bordered"
                  hx-get="{% url 'staff:reception_charges_filter' %}"
                  hx-include="#charges-table-filters"
                  hx-target="#charges-table-container"
                  id="status"
                  name="status">
            <option value="" disabled {% if not request.GET.status %}selected{% endif %}>Select a status</option>
            <option value="">All</option>
            {% for status in charge_statuses %}
              <option value="{{ status|first }}"
                      {% if request.GET.status == status|first %}selected{% endif %}>{{ status|last }}</option>
            {% endfor %}
          </select>
          <label for="sort" class="sr-only">Sort by</label>
          <select class="select select-bordered"
                  hx-get="{% url 'staff:reception_charges_filter' %}"
                  hx-include="#charges-table-filters"
                  hx-target="#charges-table-container"
                  id="sort"
                  name="sort">
            <option disabled="" selected="" value="">Sort by</option>
            {% for key, val in order_options.items %}
              <option value="{{ key }}"
                      {% if request.GET.sort == key %}selected{% endif %}
                      class="flex gap-2 items-center text-black">Ascending {{ val }}</option>
              <option value="-{{ key }}"
                      {% if request.GET.sort == '-'|add:key %}selected{% endif %}
                      class="flex gap-2 items-center">
                Descending
                <svg class="lucide lucide-chevron-down-icon lucide-chevron-down"
                     fill="none"
                     height="24"
                     stroke="currentColor"
                     stroke-linecap="round"
                     stroke-linejoin="round"
                     stroke-width="2"
                     viewbox="0 0 24 24"
                     width="24"
                     xmlns="http://www.w3.org/2000/svg">
                  <path d="m6 9 6 6 6-6"></path>
                </svg>
                {{ val }}
              </option>
            {% endfor %}
          </select>
        </div>
      </div>
      <div class="flex flex-col md:flex-row justify-between items-center gap-4 whitespace-nowrap">
        <div class="flex flex-col md:flex-row items-center gap-6">
          <div class="flex items-center gap-2">
            <input type="checkbox"
                   id="include_past"
                   name="include_past"
                   {% if request.GET.include_past %}checked{% endif %}
                   class="toggle toggle-sm"
                   hx-get="{% url 'staff:reception_charges_filter' %}"
                   hx-include="#charges-table-filters"
                   hx-target="#charges-table-container" />
            <div class="tooltip" data-tip="Include charges from earlier dates">
              <label for="include_past">Include past charges</label>
            </div>
          </div>
          <div class="flex items-center gap-2">
            <input type="checkbox"
                   id="show_settled"
                   name="show_settled"
                   {% if request.GET.show_settled %}checked{% endif %}
                   class="toggle toggle-sm"
                   hx-get="{% url 'staff:reception_charges_filter' %}"
                   hx-include="#charges-table-filters"
                   hx-target="#charges-table-container" />
            <div class="tooltip"
                 data-tip="Display charges with a net balance of zero (fully paid)">
              <label for="show_settled">Show settled charges</label>
            </div>
          </div>
          <div class="flex items-center gap-2">
            <input type="checkbox"
                   id="show_archived"
                   name="show_archived"
                   {% if request.GET.show_archived %}checked{% endif %}
                   class="toggle toggle-sm"
                   hx-get="{% url 'staff:reception_charges_filter' %}"
                   hx-include="#charges-table-filters"
                   hx-target="#charges-table-container" />
            <label for="show_archived">Show archived charges</label>
          </div>
        </div>
      </div>
    </div>
    {% include "staff/reception/charges/partials/charges-table-partial.html" %}
  </div>
</div>
<div hx-swap-oob="true" id="page_modals_oob_container">
  {% include "charges/partials/update-charge-modal-partial.html" %}
  {% include "charges/partials/new-charge-modal-partial.html" %}
</div>
