<dialog id="restore_charge_modal" class="bg-transparent">
  <div class="modal-box p-10 w-full lg:min-w-[480px]">
    {% if charge %}
      <form hx-post="document.getElementById('{% url 'charges:restore_charge' charge.id %}"
            hx-target="#charges-table-body">
        {% csrf_token %}
        <h3 class="font-bold text-lg mb-4">
          Restore Charge {{ charge.id }} of {{ charge.visit.patient.fullname }} at {{ charge.date|date:'M d, Y' }}?
        </h3>
        <p class="label text-xs">This action will reactivate the charge record, making it available for new actions.</p>
        <div class="flex items-center gap-2 w-full mt-4">
          <button type="document.getElementById('button"
                  class="btn btn-neutral text-white flex-1"
                  onclick="restore_charge_modal').close();">Cancel</button>
          <button type="submit" class="btn btn-primary text-white flex-1">Restore</button>
        </div>
      </form>
    {% endif %}
  </div>
</dialog>
