{% load widget_tweaks %}
<dialog id="update_charge_modal" class="bg-transparent">
  <div class="modal-box p-10 w-full lg:min-w-[480px]">
    {% if charge %}
      <h3 class="font-bold text-lg mb-4">
        Update charge {{ charge.id }} for Visit - {{ charge.visit.id }} of {{ charge.visit.patient.fullname }}
      </h3>
      <form class="mb-4 space-y-4"
            hx-post="{% url 'charges:update_charge' charge.id %}?{{ request.GET.urlencode }}">
        {% csrf_token %}
        {% if form.non_field_errors %}
          {% for error in form.non_field_errors %}<div class="label text-error">{{ error }}</div>{% endfor %}
        {% endif %}
        <div class="form-control w-full">
          <label for="id_charge_type" class="label">
            <span class="label-text">Type</span>
          </label>
          {{ form.charge_type }}
          {% if form.charge_type.errors %}<label class="label text-error">{{ form.charge_type.errors }}</label>{% endif %}
        </div>
        <div class="form-control w-full">
          <label for="id_description" class="label">
            <span class="label-text">Notes</span>
          </label>
          {{ form.description }}
          {% if form.description.errors %}<label class="label text-error">{{ form.description.errors }}</label>{% endif %}
        </div>
        <div class="form-control w-full">
          <label for="id_date" class="label">
            <span class="label-text">Date</span>
          </label>
          {{ form.date }}
          {% if form.date.errors %}<label class="label text-error">{{ form.date.errors }}</label>{% endif %}
        </div>
        <div class="modal-action">
          <button type="button"
                  class="btn btn-error text-white"
                  onclick="document.getElementById('update_charge_modal').close()">Cancel</button>
          <button type="submit"
                  class="btn bg-indigo-600 hover:bg-indigo-500 text-white"
                  {% if form.disable_submit %}disabled{% endif %}>Submit</button>
        </div>
      </form>
    {% endif %}
  </div>
</dialog>
