<dialog id="restore_lab_test_modal" class="bg-transparent">
  <div class="modal-box p-10 w-full lg:min-w-[480px]">
    {% if test %}
      <form hx-post="document.getElementById('{% url 'lab_requests:restore_lab_test' test.id %}"
            hx-target="#tests-configuration-test-{{ test.id }}"
            hx-swap="outerHTML">
        {% csrf_token %}
        <h3 class="font-bold text-lg mb-4">Restore {{ test.name }}?</h3>
        <p class="label text-xs">This action will reactivate the lab test record, making it available for new actions.</p>
        <div class="flex items-center gap-2 w-full mt-4">
          <button type="document.getElementById('button"
                  class="btn btn-neutral text-white flex-1"
                  onclick="restore_lab_test_modal').close();">Cancel</button>
          <button type="submit" class="btn btn-primary text-white flex-1">Restore</button>
        </div>
      </form>
    {% endif %}
  </div>
</dialog>
