<dialog id="update_lab_test_modal" class="bg-transparent">
  {% if test %}
    <div class="modal-box p-10 w-full lg:min-w-[480px]">
      <h3 class="font-bold text-lg mb-4">Edit {{ test.name }}</h3>
      <form class="mb-4 space-y-4"
            hx-post="{% url 'lab_requests:update_lab_test' test.id %}"
            hx-target="#tests-configuration-test-{{ test.id }}"
            hx-swap="outerHTML">
        {% csrf_token %}
        {% if form.non_field_errors %}
          {% for error in form.non_field_errors %}<div class="label text-error">{{ error }}</div>{% endfor %}
        {% endif %}
        <div class="form-control w-full">
          <label for="name" class="label">
            <span class="label-text">Name</span>
          </label>
          {{ form.name }}
          {% if form.name.errors %}<label class="label text-error">{{ form.name.errors }}</label>{% endif %}
        </div>
        <div class="form-control w-full">
          <label for="price" class="label">
            <span class="label-text">Price</span>
          </label>
          {{ form.price }}
          {% if form.price.errors %}<label class="label text-error">{{ form.price.errors }}</label>{% endif %}
        </div>
        <div class="modal-action">
          <button type="button"
                  class="btn btn-error text-white"
                  onclick="document.getElementById('update_lab_test_modal').close();">Cancel</button>
          <button type="submit"
                  class="btn bg-indigo-600 hover:bg-indigo-500 text-white"
                  {% if form.disable_submit %}disabled{% endif %}>Submit</button>
        </div>
      </form>
    </div>
  {% endif %}
</dialog>
